h1 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

body {
  background-color: cadetblue;
}

h2 {
  margin-bottom: 0px;
}

.center {
  margin: auto;
  width: fit-content;
  padding: 10px;
}

.box {
  text-align: center;
  width: fit-content;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 15px;
}

.btn-group button {
  background-color: grey;
  border: 1px solid grey;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: center;
  border-radius: 10px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover {
  background-color: lightgray;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* create 3 columns */
  grid-gap: 5%; /* add a 10px gap between the boxes */
  margin: auto;
  width: fit-content;
  /* padding: 10px; */
}

.grid-item {
  /* background-color: #ccc; */
  padding: 20px;
  text-align: center;
}

#laser-scan-plot {
  width: 100%;
  height: 600px; /* Adjust height as needed */
}