


.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 550px);
  background: #202020;
  gap: 5px;
  padding: 10px;
  margin: 0 auto;
  /* margin-top: 50px; */
  /* width: 95vw; */
}
.wrapper div {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid black;
}


@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
.wrapper img {
  width: 100%; 
  height: 100%;
    /* height: auto; */
  /*   border-radius: 8px; */
    object-fit: cover;
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    /* height: 100%; */
    align-items: "stretch";
}


.split img {
  width: 100%;
  height: auto;
  object-fit: cover;  
}


/* .wrapper > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px;
} */

.top-left-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  height: 100%;
  width: 100%;
}

/* .top-left-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  gap: 8px;
}